/* DONE! */

body {
    background-color: black;
    color: white;

    text-align: center;

}

.heroContainer{
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    font-family: l'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Times, serif
}

.heroContainer .round{
    font-size: 45px;
}

.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px;


}

#rock, #paper, #scissors{
    box-sizing: border-box;

    font-size: 40px;
    border-radius: 10px;  
    
    background-color:black;

    border: 5px solid white; 


}




img {
    height: 100px;

   

}

#scissors:hover{
    border: 8px solid gold;
   
}

#paper:hover{
    border: 8px solid gold;
}

#rock:hover{
    border:8px solid gold;
}



.playerScore{
    color: green;
}

.computerScore{
    color: red;
}

#scoreContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    padding: 25px;
}

.theResult{
    font-size: 45px;
}

.showPick{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    font-size: 20px;
    padding: 25px;
}

.win{
    color: green;
}

.lose{
    color: red;
}

.checkWinner{
    font-size: 40px;
}

#resultContainer button{
    font-size:40px;
    border-radius: 10px;
    background-color: grey;

    margin: 20px;
}

.restart{
    padding: 20px;
}